<h2 mat-dialog-title>Company Details</h2>
<mat-dialog-content class="mat-typography">
  <h3>Symbol</h3>

  <p>{{this.data.Symbol}}</p>
  <h3>AssetType</h3>
  <p>{{this.data.AssetType}}</p>
  <h3>Name</h3>
  <p>{{this.data.Name}}</p>
  <h3>Description</h3>
  <p>{{this.data.Description}}</p>
  <h3>Exchange</h3>
  <p>{{this.data.Exchange}}</p>
  <h3>Currency</h3>
  <p>{{this.data.Currency}}</p>
  <h3>Country</h3>
  <p>{{this.data.Country}}</p>
  <h3>Sector</h3>
  <p>{{this.data.Sector}}</p>
  <h3>Industry</h3>
  <p>{{this.data.Industry}}</p>
  <h3>Address</h3>
  <p>{{this.data.Address}}</p>
  <h3>FiscalYearEnd</h3>
  <p>{{this.data.FiscalYearEnd}}</p>
  <h3>LatestQuarter</h3>
  <p>{{this.data.LatestQuarter}}</p>
  <h3>MarketCapitalization</h3>
  <p>{{this.data.MarketCapitalization}}</p>
  <h3>EBITDA</h3>
  <p>{{this.data.EBITDA}}</p>
  <h3>PERatio</h3>
  <p>{{this.data.PERatio}}</p>
  <h3>PEGRatio</h3>
  <p>{{this.data.PEGRatio}}</p>
  <h3>BookValue</h3>
  <p>{{this.data.BookValue}}</p>
  <h3>DividendPerShare</h3>
  <p>{{this.data.DividendPerShare}}</p>
  <h3>DividendYield</h3>
  <p>{{this.data.DividendYield}}</p>
  <h3>EPS</h3>
  <p>{{this.data.EPS}}</p>
  <h3>RevenuePerShareTTM</h3>
  <p>{{this.data.RevenuePerShareTTM}}</p>
  <h3>ProfitMargin</h3>
  <p>{{this.data.ProfitMargin}}</p>
  <h3>OperatingMarginTTM</h3>
  <p>{{this.data.OperatingMarginTTM}}</p>
  <h3>ReturnOnAssetsTTM</h3>
  <p>{{this.data.ReturnOnAssetsTTM}}</p>
  <h3>ReturnOnEquityTTM</h3>
  <p>{{this.data.ReturnOnEquityTTM}}</p>
  <h3>RevenueTTM</h3>
  <p>{{this.data.RevenueTTM}}</p>
  <h3>GrossProfitTTM</h3>
  <p>{{this.data.GrossProfitTTM}}</p>
  <h3>DilutedEPSTTM</h3>
  <p>{{this.data.DilutedEPSTTM}}</p>
  <h3>QuarterlyEarningsGrowthYOY</h3>
  <p>{{this.data.QuarterlyEarningsGrowthYOY}}</p>
  <h3>QuarterlyRevenueGrowthYOY</h3>
  <p>{{this.data.QuarterlyRevenueGrowthYOY}}</p>
  <h3>AnalystTargetPrice</h3>
  <p>{{this.data.AnalystTargetPrice}}</p>
  <h3>TrailingPE</h3>
  <p>{{this.data.TrailingPE}}</p>
  <h3>ForwardPE</h3>
  <p>{{this.data.ForwardPE}}</p>
  <h3>PriceToSalesRatioTTM</h3>
  <p>{{this.data.PriceToSalesRatioTTM}}</p>
  <h3>PriceToBookRatio</h3>
  <p>{{this.data.PriceToBookRatio}}</p>
  <h3>EVToRevenue</h3>
  <p>{{this.data.EVToRevenue}}</p>
  <h3>EVToEBITDA</h3>
  <p>{{this.data.EVToEBITDA}}</p>
  <h3>Beta</h3>
  <p>{{this.data.Beta}}</p>
  <h3>52WeekHigh</h3>
  <p>{{this.data['52WeekHigh']}}</p>
  <h3>52WeekLow</h3>
  <p>{{this.data['52WeekLow']}}</p>
  <h3>50DayMovingAverage</h3>
  <p>{{this.data['50DayMovingAverage']}}</p>
  <h3>200DayMovingAverage</h3>
  <p>{{this.data['200DayMovingAverage']}}</p>
  <h3>SharesOutstanding</h3>
  <p>{{this.data.SharesOutstanding}}</p>
  <h3>DividendDate</h3>
  <p>{{this.data.DividendDate}}</p>
  <h3>ExDividendDate</h3>
  <p>{{this.data.ExDividendDate}}</p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Dismiss</button>
</mat-dialog-actions>
